header {
  padding: 40px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#burguer {
  display: none;
  padding: 1em;
  z-index: 200;
}

.navbar-nav ul{
  display: flex;
  gap: 45px;
}

.navbar-nav ul a {
  display: inline-block;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  transition-duration: .4s;
}

.navbar-nav ul a:not(.btn-red):hover {
  color: hsl(0, 94%, 66%);
}

.navbar-nav ul a:not(.btn-red) {color: hsl(229, 31%, 21%);}

#burger {
  position: absolute;
  right: 0;
}

@media (max-width: 800px) {
  .navbar.active a:first-of-type {
    z-index: 150;
  }
  .navbar.active .logo-color path,  .navbar.active .logo-color circle {fill: #f7f7f7;}
  .navbar.active .logo-color2 {fill: #252b46 !important;}

  #burguer {display: block;}

  .navbar-nav {
    display: none;
    position: absolute;
    top:0; left: 0; right: 0;
    height: 100vh;
    background-color: hsl(229, 31%, 21%, .95);
    padding: 7.4em 1.8em;
    z-index: 100;
  }

  .navbar.active .navbar-nav {display: flex;}

  .navbar-nav ul{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-nav li {
    border-top: 1px solid hsl(229, 8%, 60%, .4);
  }

  .navbar-nav li a:not(.btn){
    display: inline-block;
    padding: 1.2em 0;
    font-size: 1.1em;
    color: #f7f7f7;
  }

  .navbar-nav .btn-red {
    width: 100%;
    font-size: 1.1em;
    margin-top: 1.2em;
    background: transparent;
    border: 2px solid #f7f7f7;
    box-shadow: none;
  }
}