header {
  padding: 40px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav ul{
  display: flex;
  gap: 45px;
}

.navbar-nav ul a {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  transition-duration: .4s;
}

.navbar-nav ul a:not(.btn-red):hover {
  color: hsl(0, 94%, 66%);
}

.navbar-nav ul a:not(.btn-red) {color: hsl(229, 31%, 21%);}

#burger {
  position: absolute;
  right: 0;
}

@media (max-width: 800px) {
  #burger {display: block;}

  .navbar-nav {
    position: absolute;
    top:0; left: 0; right: 0;
    height: 100vh;
    background-color: hsl(229, 31%, 21%, .9);
  }

  .navbar-nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
  }

  .navbar-nav li {
    border-top: 2px solid hsl(229, 8%, 60%, .4);
  }

  .navbar-nav li a:not(.btn){
    display: inline-block;
    padding: 1.2em 0;
    color: #f7f7f7;
  }
}